#header {
    padding: 23px 0;
}

#logo {
    height: 48px;
    width: auto;
}

@media screen and (min-width: 600px) {
    #header {
        padding: 73px 0 0;
    }
}

@media screen and (min-width: 900px) {
    #header {
        padding: 40px 0 0;
    }
}